body {
    color: $textdark;
    font-weight: 400;
    font-family: $standardfont;
    line-height: 1.5;
}

a {
    color: $textlink;
    text-decoration: none;
    
    &:hover {
        text-decoration: underline;
    }
}

.site, .main-menu, .secondary-menu, .header-region {
    padding: $gutterem/2 0;
    text-align: center;
}

.site {
    background: $header1;    
}

.navigation {
    background: $header2;
}

.site-name {
    
    img, h2 {
        display: none;
    }
    
    a.logo {
        display: block;
        margin: 0 auto;
        width: $cols3;
        height: 4em;
        background: url('../images/stressfree.svg') 50% 50% no-repeat;
        background-size: $cols3 auto;
        
        html.ie & {
            width: 175px;
            height: 40px;
            background: url('../images/stressfree.png') 0 100% no-repeat;
            background-size: 570px 80px;
        }
    }
}

.site-slogan {
    padding-bottom: $gutterem/2;
    color: $textmedium;
    font-size: 0.8em;
    line-height: 1.2;
    
    div.region {
        margin: 0 $gutterem/2;
    }
}

.main-menu, .secondary-menu {
    font-weight: 400;
    font-family: $headingfont;
    
    li {
        @include inline-block;
        padding: 0 0.6em;
        list-style: none;
        line-height: 1;
        
        a {
            color: $textlight;
        }
    }
}

.main-menu {
    li {
        &.first {
            display: none;
        }
    }
}

.secondary-menu {
    padding-top: 0;
    
    li {
        a {
            display: block;
            overflow: hidden;
            width: 2.57em;
            height: 2.57em;
            background: url('../images/icons.svg') 0 0 no-repeat;
            background-size: 10em auto;
            
            text-indent: -1000px;
        }
        
        &.menu-41 {
            a {
                background-position: -5em 0;
            }
        }
        
        &.menu-43 {
            a {
                background-position: -2.5em 0;
            }
        }
        
        &.menu-60 {
            a {
                background-position: -7.5em 0;
            }
        }
    }
}

.header-region {
    clear: both;
    width: 100%;
    
    div.region {
        margin: 0 $gutterem/2;
    }
    
    input.text {
        @include border-radius(0px);
        padding: 0.4em 0 0.4em 0.6em;
        width: 96%;
        height: 1.4em;
        border: 1px solid $textlight;
        font-size: 1em;
        font-family: $headingfont;
        line-height: 1;   
    }
    
    input.submit {
        @include border-radius(0px);
        position: absolute;
        margin-left: -6em;
        padding: 0.4em 0.5em;
        width: 6em;
        height: 2.3em;
        border: 1px solid $textlight;
        background: $header1;
        color: $textlight;
        font-weight: 400;
        font-size: 1em;
        font-family: $headingfont;
        line-height: 1;
    }
}

.main {
    margin: 0 $gutterem/2;
    padding: $gutterem 0 2*$gutterem 0;
    
    h1, h2, h3, h4, h5, h6 {
        margin: 1.2em 0 0.4em 0;
        font-weight: 200;
        font-family: $headingfont;
        line-height: 1.2;
        
        a {
            color: $textdark;
        }
    }
    
    h1 {
        margin-top: 1em;
        letter-spacing: -1px;
        font-size: 1.8em;
        
        body.page-taxonomy-term &.title {
            text-transform: capitalize;
        }
    }
    
    h2 {
        letter-spacing: -1px;
        font-size: 1.5em;
    }
    
    h3 {
        font-size: 1.3em;
    }
    
    h4 {
        font-size: 1.2em;
    }
    
    h5 {
        font-weight: 400;
        font-size: 1em;
    }
    
    h6 {
        font-size: 1em;
    }
    
    p {
        margin: 0 0 0.9em 0;
    }
    
    table {
        margin: 0.8em 0 1.3em 0;
    }
    
    object {
        margin: 0.8em 0 1.3em 0!important;
    }
    
    code, p.codesnippet, pre {
        overflow: auto;
        -ms-overflow-y: hidden;
        overflow-y: hidden;
        margin: 1em 0 1.5em 0;
        padding: 0.8em 0.3em 0.8em 0.8em;
        background: $codebackground;
        color: $codefont;
        font-size: 0.9em;
        font-family: $fixedwidthfont;
        line-height: 1.4;
    }
    
    div {
        &.submitted {
            padding: 3em 0 0 0;
            color: $textsecondary;
            font-weight: 700;
            font-size: 0.9em;
        }
        
        &.node-teaser {
            clear: both;
            margin: 0 0 2.5em 0;
            
            div.content {
                h1 {
                    font-size: 1.4em;
                }
                
                h2 {
                    font-size: 1.4em;
                }
                
                h3 {
                    font-size: 1.2em;
                }
                
                h4 {
                    font-size: 1em;
                }
            }
        }
        
        &.node {
            h1.title, h2.title {
                margin-top: 0;
            }
        }
        
        &.image, &.centeredimage {
            text-align: center;
            font-weight: 700;
            font-size: 0.9em;
                 
            img {
                max-width: 100%;
                height: auto;
            }
            
            a {
                color: $textdark;
            }
        }
        
        &.image {
            float: left;
            margin: $gutterem/2 $gutterem $gutterem/2 0;
            max-width: $cols2;
        }
        
        &.centeredimage {
            margin: $gutterem 0;
            width: 100%;
            
            img {
                margin: 0 0 1.2em 0;
            }
        }     
    }
    
    ul, ol {
        margin: 0 0 0.9em 1.3em;
    }
    
    ul {
        &.links, &.field-taxonomy-vocabulary-1, &.field-taxonomy-vocabulary-2 {
            margin: 0.3em 0;
            font-family: $headingfont;
        
            li {
                display: inline;
                margin: 0 1em 0 0;
            }
        }
        
        &.tabs {
            margin: 0;
            
            li {
                float: right;
                margin: -0.5em 0.6em 0 0;
                list-style-type: none;
                
                &.active {
                    color: $textmedium;
                    
                    a {
                        color: $textmedium;
                    }
                }
            }
        }
        
        &.field-taxonomy-vocabulary-1, &.field-taxonomy-vocabulary-1 {
            font-size: 0.8em;
        }
    }
}

.footer-wrapper {
    margin: 0 $gutterem/2;
    padding: 0 0 $gutterem 0;
}

.element-invisible {
    display: none;
}