.site-wrapper, .navigation-wrapper, .footer-wrapper {
    margin: 0 auto;
    width: $cols13;
}

.site-wrapper {
    height: 7em;
}

.site-name {
    float: left;
    margin: 0;
    width: $cols5;
    
    a.logo {
        width: $cols5;
        height: 7em;
        background: url('../images/stressfree.svg') 50% 50% no-repeat;
        background-size: $cols5 auto;
        
        html.ie & {
            width: 175px;
            height: 40px;
            background: url('../images/stressfree.png') 0 100% no-repeat;
            background-size: 570px 80px;
        }
    }
}

.site-slogan {
    float: right;
    padding-top: 1.2em;
    font-size: 1em;
}

.navigation {
    padding: $gutterem/2 0;
}

.main-menu, .secondary-menu {
    display: inline;
    text-align: left;
    
    li {
        float: left;
        padding: 0 1.7em 0 0;
        line-height: 1.5;
    }
}

.secondary-menu {
    li {        
        a {
            display: block;
            width: auto;
            height: auto;
            background: none;
            text-indent: 0;
        }
    }
}

.header-region {
    padding: 0;

    div {    
        &.region {
            position: absolute;
            top: 4.2em;
            float: right;
            margin-left: $cols6 + $gutterem;
            width: $cols7;
        }
        
        &.block {
            float: right;
        }
        
    }
    
    input {
        &.submit {
            background: $header2;
        }
    }
}