.site-wrapper, .navigation-wrapper, .main-wrapper, .footer-wrapper {
    margin: 0 auto;
    width: $cols10;
}

.main-menu {
    padding-bottom: $gutterem/1.5;

    li {
        padding: 0 0.8em;
        
        &.first {
            @include inline-block;
        }
    }
}

.secondary-menu {
    position: absolute;
    width: $cols4;
    text-align: left;
    
    li {   
        &.first {
            display: none;
        } 
    }
}

.header-region {
    padding: 0.15em 0 $gutterem/1.5 0;
    
    div.region {
        margin: 0 0 0 $cols4;
        text-align: right;
    }
    
    input {
        &.text {
            width: $cols4;
        }
        &.submit {
            position: static;
            margin-left: 0;
        }
    }
}

.main {
    
    
    h1 {
        font-size: 2.1em;
    }
    
    h2 {
        font-size: 1.8em;
    }
    
    h3 {
        font-size: 1.6em;
    }
    
    h4 {
        font-size: 1.4em;
    }
    
    h5, h6 {
        font-size: 1.2em;
    }
    
    ul {        
        &.links {
            display: block;
            width: $cols4;
        }
        
        &.field-taxonomy-vocabulary-1, &.field-taxonomy-vocabulary-1 {
            float: right;
            margin-top: 0.2em;
            width: $cols6;
            text-align: right;
            
            li {
                margin: 0 0 0 1em;
            }
        }
    }
}