@import "compass/css3/border-radius";
@import "compass/css3/inline-block";

@font-face {
   font-family: 'Verb Condensed';
   src: url('fonts/verb-condensed/regular.eot');
   src: url('fonts/verb-condensed/regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/verb-condensed/regular.woff') format('woff'),
        url('fonts/verb-condensed/regular.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'Verb Condensed';
   src: url('fonts/verb-condensed/medium.eot');
   src: url('fonts/verb-condensed/medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/verb-condensed/medium.woff') format('woff'),
        url('fonts/verb-condensed/medium.ttf') format('truetype');
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: 'Nexa';
   src: url('fonts/nexa/light.eot');
   src: url('fonts/nexa/light.eot?#iefix') format('embedded-opentype'),
        url('fonts/nexa/light.woff') format('woff'),
        url('fonts/nexa/light.ttf') format('truetype');
   font-weight: 200;
   font-style: normal;
}

@font-face {
   font-family: 'Nexa';
   src: url('fonts/nexa/book.eot');
   src: url('fonts/nexa/book.eot?#iefix') format('embedded-opentype'),
        url('fonts/nexa/book.woff') format('woff'),
        url('fonts/nexa/book.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'Foundation Mono';
   src: url('fonts/foundation-mono/regular.eot');
   src: url('fonts/foundation-mono/regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/foundation-mono/regular.woff') format('woff'),
        url('fonts/foundation-mono/regular.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;
}

$header1: #57595c;
$header2: #0689bc;
$textdark: #222;
$textmedium: #c5c8cb;
$textlight: #fff;
$textsecondary: #666;
$textlink: #007da8;
$highlight: #fcfedb;
$codefont: #f1f7ff;
$codebackground: #333;

$standardfont: "Verb Condensed", Helvetica, Arial, sans-serif;
$headingfont: "Nexa", Helvetica, Arial, sans-serif;
$fixedwidthfont: "Foundation Mono", "Lucida Console", Monaco, monospace;

@import "frameless";

@import "base";

@media screen and (min-width: $cols11) {
    @import "tablet7inch";
}

@media screen and (min-width: $cols14) {
    @import "desktop";
}

html.ie {
    @import "tablet7inch";
    @import "desktop";
}